.btn
{
    float: right;
}

.header1
{
    padding-top: 200px;
}
.btn1
{
    float: left;
}
.header1 p{
    padding-bottom: 20px;
}
.header2
{
    padding-top: 100px;
    padding-right: 20px;
}
.provide
{
    text-align: center;
    padding-top: 75px;
}
.well1
{
    padding-top: 50px;
}
.karobar
{
    padding-right: 10px;
}
.starting
{
    padding-top: 100px;
}
.marketing
{
    text-align: center;
    padding-top: 30px;
}
.well2
{
    padding-top: 50px;
}
.features
{
    padding-top: 200px;
}
.bg
{
    background-color:whitesmoke;
}
.over
{
    text-align: center;
    padding-bottom: 70px;
}
.pictures
{
    text-align: right;
    padding-bottom: 30px;
}
.updated
{
    text-align: center;
}
.updated p{
    text-decoration: inherit;
}
.contact h4
{
    text-decoration: underline;
    padding-bottom: 10px;
}
.company h4{
    text-decoration: underline;
    padding-bottom: 10px;
}
.company
{
    padding-left: 200px;
}
.support h4{
    text-decoration: underline;
    padding-bottom: 10px;
}
.support
{
    padding-left: 200px;
}
.last
{
    padding-top: 30px;
}
.footer
{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
